
.blob-content-1 {
    margin-top: -200px;
    margin-bottom: -180px;
    width: 100vw;
    font-size: 0;
    z-index: 5;

    @media (min-width: 600px) {
       display: none;
      }

    .divider-1 {
        width: 100vw;
        overflow: hidden;
        margin-bottom: -1px;

        svg {
            height: 150px;
            width: 100%;
        }
    }

    .divider-2 {
        width: 100%;
        overflow: hidden;
        margin-top: -1px;

        svg {
            height: 150px;
            width: 100%;
        }
    }     
}

.smoke-blobs {
    width: 29%;
    position: absolute;
    bottom: 77%;
    right: 6%;
    z-index: 6;
    @media (min-width: 600px) {

        display: none;
        /*width: 19%;
        left: -7; 
        top: 100px;
        transform: scaleX(-1);
        z-index: 6;

        #path_4, #path_5, #path_6 {
            display: none;
        }*/
    }  
}

.smoke-desk {
    width: 30%;
    max-width: 120px;
    position: absolute;
    left: 34%;
    top: -17%;

    @media (max-width: 600px) {
        display: none;
    }
}


.blob-content-2 {
    margin-top: -400px;
    margin-bottom: -300px;
    width: 100vw;
    font-size: 0;
    z-index: 1;

    @media (min-width: 600px) {
        margin-top: -200px;
        margin-bottom: 0px;
        z-index: 3;
    }
    @media (min-width: 1000px) {
        margin-top: -300px;
    }

    .divider-1 {
        width: 100vw;
        overflow: hidden;
        margin-bottom: -1px;

        svg {
            height: 150px;
            width: 100%;
            @media (min-width: 600px) {
                height: 200px;
            }
            
        }
    }

    .divider-2 {
        width: 100%;
        overflow: hidden;
        margin-top: -1px;

        svg {
            height: 150px;
            width: 100%;
            @media (min-width: 600px) {
                height: 200px;
            }
        }
    }     
}

.blob-content-3 {
    margin-top: -200px;
    width: 100vw;
    font-size: 0;
    z-index: 1;

    @media (min-width: 600px) {
        margin-top: -300px;
        margin-bottom: 0px;
        z-index: 4;
      }
    .divider-1 {
        width: 100vw;
        overflow: hidden;
        margin-bottom: -1px;

        svg {
            height: 200px;
            width: 100%;
        }
    }   
}