footer {
  overflow: hidden;
}

.end-section {
  position: relative;
}
.count-me-in-text {
  width: 40%;
  position: absolute;
  top: 22.5%;
  left: 7%;
}
.model-4 {
  position: absolute;
  top: 84%;
  right: -22%;
  left: 20%;
  z-index: 0;
}
.model-4.logo-2 {
  width: 30%;
  position: absolute;
  top: 89%;
  left: 37%;
  z-index: 1;
}
