
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*position: absolute;*/
  background-color: var(--main-purple);
  padding: 60px 0 50px 0;
  /*bottom: -24.5%;*/

  @media (max-width: 340px) {
    bottom: -26.5%;
  }
  @media (min-width: 600px) {
    z-index: 3;
    position: static;
  }
}

.logo-2 {
  width: 30%;
  z-index: 2;

  path {
    fill: var(--main-yellow);
  }

  @media (min-width: 600px) {
    width: 150px;
  }
}

.socials {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

   .social-wrapper {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;

   } 
}