
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -20%;
  background-color: var(--main-purple);

  @media (max-width: 340px) {
    bottom: -19%;
  }
}

.logo-2 {
  margin: 1rem 0 2rem 0;
  width: 30%;
  z-index: 1;

  path {
    fill: var(--main-yellow);
  }
}