* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-yellow: #ffff00;
  --main-purple: #8F39FB;
}

html {
	scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
}
/*@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}*/

body{
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  animation: in-animation 7s ease;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

 

  @keyframes in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (min-width: 1000px) {
    font-size: 18px;
    
  }
}







