* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-yellow:  #eeff02; 
  --main-purple:#9029FD; 
}

html {
	scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-X: hidden; 
}

body{
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  animation: in-animation 7s ease;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 

  @keyframes in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (min-width: 1000px) {
    font-size: 18px;
    
  }
}







