* {
  box-sizing: border-box;
  margin: 0;
}

svg path{
  width: 100%;
  height: 100%;
}

:root {
  --main-yellow: #ffff00;
  --main-purple: #8F39FB;
}

body {
  width: 100vw;
  background-color: black;
  font-family: "Rubik", sans-serif;
  color: var(--main-yellow);
  overflow-x: hidden;
  font-size: 16px;
}

img {
  width: 100vw;
  height: 100%;
  display: list-item;
}
