.header {
  
  width: 100vw;
  height: 100%;
  @media (min-width: 600px) {
    position: relative;
  }
}

.logo-wrapper {
  animation: transformer 2s ease forwards;
  position: absolute;
  z-index: 1;
  top: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @keyframes transformer {
    from {
        transform: scale(0) rotate(180deg); 
    }
    to {
        transform: scale(1) rotate(360deg);
    }
  }

  @media (min-width: 600px) {
    top: 12%;
    width: 40%;
  }
}
.logo {
  position: absolute;
  max-width: 47%;
  path {
    fill: var(--main-yellow);
  }
}
.text-circle {
  width: 70%;
}

.go-to-form {
  position: absolute;
  text-decoration: none;
  width: 150px;
  height: 190px;
  top: 66%;
  left: 5%;
  background-image: url("../svgs/link.svg");
  background-size: cover;
  padding: 2rem 0 0 3.5rem;
  color: var(--main-yellow);
  -webkit-tap-highlight-color: transparent;

  @media (min-width: 600px) {
    display: none;
  }

}




