.header {
  position: relative;
  width: 100vw;
  @media (min-width: 600px) {
    position: relative;
    height: 100vh;
  }
}



.logo-wrapper {
  animation: transformer 2s ease forwards;
  position: absolute;
  z-index: 1;
  top: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @keyframes transformer {
    from { transform: scale(0) rotate(180deg); }
    to { transform: scale(1) rotate(360deg); }
  }

  @media (min-width: 600px) {
    top: 12%;
    width: 40%;
  }
}
.logo {
  position: absolute;
  max-width: 47%;
  path {
    fill: var(--main-yellow);
  }
}
.text-circle {
  width: 70%;
}


.link {
  min-width: 120px;
  background-color: var(--main-purple);
  color: var(--main-yellow);
  position: absolute;
  bottom: 25%;
  text-align: center;
  left: calc(100vw / 2 - 120px + 4rem / 2);
  padding: 1rem 2rem 1rem 2rem;
  font-weight: bold;
  border-radius: 2rem;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  text-decoration: underline;
  text-underline-position: under;
}

.go-to-form {
  position: absolute;
  text-decoration: none;
  width: 150px;
  height: 190px;
  bottom: -10%;
  left: 5%;
  background-image: url("../svgs/link.svg");
  background-size: cover;
  padding: 2rem 0 0 3rem;
  color: var(--main-yellow);
  -webkit-tap-highlight-color: transparent;
  font-weight: bold;
  letter-spacing: 0.06rem;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 300px) {
    height: 150px;
    left: 0%;
  }

  @media (min-width: 600px) {
    display: none;
  }

}

.resize-animation-stopper {
  animation: none;
  transition: none;
}

.normal-link {
  bottom: 10%;
  @media (min-width: 500px) {
    bottom: 15%;
  }
}

.animate-link {
  animation: move-in 0.9s ease 1.4s forwards; 
}

@keyframes move-in {
  from {
    bottom: -10%; 
  }
  to { 
    bottom: 10%; }
}

@media (min-width: 500px) {
  @keyframes move-in {
    from {
      bottom: -10%; 
    }
    to { 
      bottom: 15%; }
  }
}