section {
    position: relative;
}


.hero-section { 
    @media (min-width: 600px) {
        z-index: 3; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    
}


.section-sign-up {
 
    @media (min-width: 600px) {
        display: flex;
        flex-direction: column;
        position: relative;
     } 

}



