@mixin center-elements {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin title-style {
    margin-bottom: 1rem;
    color: var(--main-purple);
    width: 85%;
    font-size: 35px;

    @media (max-width: 320px) {
        font-size: 27px;
    }
    @media (min-width: 600px) {
        max-width: 350px;
    } 
    @media (min-width: 1000px) {
        font-size: 40px
    } 
}
@mixin p-style {
    width: 85%;
    line-height: 2rem;
    font-size: 16px;

    @media (min-width: 600px) {
        max-width: 350px;
        font-size: 18px;
    } 
}

.text-wrapper {
    background: #fffe37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.text-content-1 {
    @include center-elements;
    padding-bottom: 2rem;
    z-index: 1;

    @media (min-width: 600px) {
        z-index: 6;
        padding-bottom: 5rem;
    }
    
    h1 {
        @include title-style;
    }

    p {
        @include p-style;
    }

}

.text-content-2 {
    @include center-elements;
    z-index: 1;

    @media (min-width: 600px) {
        z-index: 6;
        padding-bottom: 200px;
    }

    h2 {
        @include title-style;
    }

    p {
        @include p-style;
    }

}
  
.text-content-3 {
    @include center-elements;

    h2 {
        @include title-style;
        color: var(--main-yellow);
    }
    p {
        @include p-style;
        margin-bottom: 2rem;
      
    }
}

.text-desk {
    display: none;

    @media (min-width: 600px) {
        display: flex;
    }
}





