@mixin center-elements {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin title-style {
    margin-bottom: 1rem;
    color: var(--main-purple);
    width: 85%;
    font-size: 35px;

    @media (max-width: 320px) {
        font-size: 27px;
    }
    @media (min-width: 600px) {
        max-width: 350px;
    } 
    @media (min-width: 1000px) {
        font-size: 40px
    } 
}
@mixin p-style {
    width: 85%;
    line-height: 2rem;

    @media (max-width: 320px) {
        font-size: 12px;
        line-height: 1.5rem;
    }
    @media (min-width: 600px) {
        max-width: 350px;
    } 
}

.text-content-1 {
    @include center-elements;
    position: absolute;
    z-index: 1;
    top: -23%;

    @media (min-width: 600px) {
        z-index: 6;
        top: -15%;
    }
    
    h1 {
        @include title-style;
    }

    p {
        @include p-style;
    }

}

.text-content-2 {
    @include center-elements;
    position: absolute;
    z-index: 1;
    top: 89%;

    @media (min-width: 600px) {
        top: 20%;
        z-index: 6;
    }

    h2 {
        @include title-style;
    }

    p {
        @include p-style;
    }

}
  
.text-content-3 {
    @include center-elements;

    h2 {
        @include title-style;
        color: var(--main-yellow);
    }
    p {
        @include p-style;
        margin-bottom: 2rem;

        @media (max-width: 300px) {
            margin-bottom: 2rem;
        } 
    }
}





